.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal__heading {
  font-size: 14px;
  font-style: inter;
  font-weight: 900;
  line-height: 16.94px;
  color: black;
  margin-top: 0px;
  top: 100px;
}
.modal_open {
  display: flex;
  opacity: 1;
}
.modal__container {
  position: relative;
  padding: 25px 22px 25px 22px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  top: 0px;
  height: 330px;
  width: 430px;
}

.modal__close {
  background-image: url(../images/Close_Icon.svg);
  position: absolute;
  cursor: pointer;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form__description {
  margin-top: 23px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__form__title {
  margin-top: 85px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__heading {
  margin-bottom: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.modal__button {
  background-color: black;
  color: white;
  height: 46px;
  font: inter;
  font-size: 14px;
  font-weight: 400px;
  margin-top: 50px;
}

@media screen and (max-width: 480px) {
  .modal__container {
    height: 282px;
    width: 322px;
  }

  .modal__form__description {
    margin-top: 23px;
  }

  .modal__form__title {
    margin-top: 20px;
  }

  .modal__heading {
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    margin-top: 25px;
  }

  .modal__button {
    background-color: black;
    color: white;
    height: 46px;
    font: inter;
    font-size: 14px;
    font-weight: 400px;
    margin-top: 50px;
  }
}

.modal__close {
  top: -45px;
  right: 0px;
  width: 26px;
  height: 26px;
}
