.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}

.modal_container {
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}
