@import url(/fonts.css);

.page {
    background: black;
    color: white;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    margin-top: 45px;
    max-width: 880px;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500px;
    grid-area: title;
    margin: 0;
}

.profile__info {
    display: grid;
    grid-template-areas: 
    "title button"
    "description description";
    grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
    background: transparent url(/images/Edit.svg) center no-repeat;
    height: 24px;
    width: 24px;
    
}

.profile__add-button {
    background: transparent url(/images/like-button.svg) center no-repeat;
    width: 150px;
    height: 50px;
    margin-left: auto;
    grid-area: button;
    border-color: white;

}

.profile__description {
    
    grid-area: description;
    margin: 0px;
    font-family: Inter;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;


}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    margin-right: 24px;
}

.cards {
    margin-top: 30px;
}

.card__list {
    display: grid;
    list-style-type: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0px;
    margin: 0px;
}

.card {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
}

.card__description {
    background: white;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.card__like-button {
    background: transparent url(/images/like-button.svg) center no-repeat;
}

.footer__text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: gray;
}

@media screen and (max-width:480px){
.profile {
    flex-direction: column;
}
.profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 62px;
    padding-right: 62px;
    justify-content: center;
}

.profile__description {
    width: 100%;
    text-align: center;
}

.profile__add-button {
    margin: 0;
    width: 100%;
}

}